* {
    box-sizing: border-box;
    background-size: cover;
}
body{
    background-color: #000000;
    font-family: 'Courier New';
    font-size: 2em;
    color:#FFF ;
}
header{
    display: flex;
    justify-content: center;
    height: 25vh;   
}

.Head_btn{
    padding: 5px;
    font-size: 16px;
    width: 31%;
    background: #00abdc;
    color: #FFF;
    font-weight: bold;
    font-family: 'Courier New';
}

.main {
    width: 40%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
    background-color: #1a1a1a;
    overflow: hidden;
    border-radius: 10%;
    padding: 10px;
    font-family: tahoma;
}
div {            
    border-radius: 5px;
    width: 22%;
    background: url(imgs/internet.png) no-repeat;
    background-size: contain;            
    cursor: pointer;
    transition: background-color .1s ease-in-out;
}
div:hover {
    opacity: 0.7;
}
img {
    color: #fff;
    margin: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    transition: opacity .5s ease-in-out;
}